<div class="contents">
  <h1>みんなの投稿</h1>
  <div class="contents">
    <div class="content">
      <div class="user">
        <div class="user-icon"></div>
        <%= link_to "ユーザー名", "#", class: "user-name" %>
      </div>
      <img src="/images/test_image.png" alt="オムライス" class="image">
      <div class="text">
        こんにちは！
      </div>
    </div>
    <div class="content">
      <div class="user">
        <div class="user-icon"></div>
        <%= link_to "ユーザー名", "#", class: "user-name" %>
      </div>
      <img  class="image">
      <div class="text">
        こんにちは！
      </div>
    </div>
  </div>
</div>