/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* ヘッダー */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100vw;
  background-color:  #00aaff;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.app-name a{
  font-size: 40px;
  padding: 0 10px;
}

.descriptions {
  background-color: transparent;
  color: #ffffff;
  font-size: 20px;
  line-height: 1;
  border-bottom: transparent 10px solid;
}

.how-to-use {
  background-color: transparent;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  line-height: 1;
  border-bottom: transparent 10px solid;
}

.use {
  height: 50px;
}

.use button {
  outline: none;
  border: none;
  background-color: transparent;
  color: #ffffff;
  font-size: 25px;
  padding: 18px 10px;
  cursor: pointer;
  line-height: 1;
  border-bottom: transparent 10px solid;
}

.how {
  height: 50px;
}

.how button {
  outline: none;
  border: none;
  background-color: transparent;
  color: #ffffff;
  font-size: 25px;
  padding: 18px 10px;
  cursor: pointer;
  line-height: 1;
}

.description {
  color: violet;
  width: 100%;
  background-color: #d4f0fd;
  position: absolute;
  z-index: 1;
  top: 60px;
  overflow-x: hidden;
  left: 0;
  text-align: center;
  height: 0;
  transition: .5s;
}

.description.open-menu{
  height: calc(100vh - 60px);
}

.how-to {
  color: blue;
  width: 100%;
  background-color: #d4f0fd;
  position: absolute;
  z-index: 1;
  top: 60px;
  overflow-x: hidden;
  left: 0;
  text-align: center;
  height: 0;
  transition: .5s;
}

.how-to.open-menu{
  height: calc(100vh - 60px);
}

a {
  color: #ffffff;
  text-decoration: none;
  white-space: nowrap;
  display: block;
  padding: 15px;
}

.btn-menu {
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  padding: .5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  line-height: 1;
}

nav {
  background-color: black;
  position: absolute;
  z-index: 3;
  top: 60px;
  right: 0;
  overflow-x: hidden;
  text-align: center;
  width: 0;
  transition: .5s;
}

nav a:hover {
  background-color: blue;
}

.log-out a:hover {
  background-color: red;
}

nav.open-menu {
  width: 15%;
}

.user-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-left a {
  font-size: 20px;
  border: 1px solid #ffffff;
  margin-right: 20px;
  padding: 5px;
}

.user-right a {
  font-size: 20px;
  border: 1px solid #ffffff;
  padding: 5px;
}

/* フッター */

footer {
  background-color: #1b2024;
  height: auto;
  width: 100vw;
  text-align: center;
}

.footer-menu {
  color: #ffffff;
  display: flex;
  justify-content: space-around;
}

.footer-menu ul {
  font-size: 12px;
}

.footer-menu a:hover {
  color: #00aaff;
}

.contact-us {
  display: flex;
  justify-content: space-around;
  background-color: #888888;
  margin-top: 20px;
}

.contact-us a:hover {
  color: #305989;
}

.company {
  background-color: #888888;
}

/* 一覧ページ */
h1 {
  text-align: center;
}

.content {
  margin: 20px auto;
  border: #00aaff solid 5px;
  border-radius: 30px;
  padding: 20px;
  width: 50%;
  text-align: center;
}

.user {
  display: flex;
  align-items: center;
  border-bottom: solid 2px #00aaff;
  margin-bottom: 20px;
}

.user-icon {
  border: black 2px solid;
  border-radius: 50%;
  height: 55px;
  width: 55px;
}

.user-name {
  color: #1b2024;
  font-size: 30px;
}

.text {
  text-align: center;
  font-size: 25px;
  color: #1b2024;
}

.text a{
  text-align: center;
  font-size: 25px;
  color: #1b2024;
}

/* 新規投稿ページ */

.new-form {
  text-align: center;
  height: calc(100vh - 60px);
  padding: 30px;
}

.content-form {
  width: 60%;
  padding: 20px;
  margin: 0 auto;
  border: lightblue 10px solid;
  border-radius: 12px;
}

.content-title {
  font-size: 30px;
  font-weight: bold;
}

.content-text {
  outline: none;
  resize: none;
  width: 100%;
  height: 400px;
  padding: 10px;
  border: #7c7889 solid 5px;
  border-radius: 20px;
  font-size: 20px;
  margin: 10px 0 20px 0;
}

.form-image {
  border: #7c7889 solid 5px;
  padding: 10px 110px;
  border-radius: 20px;
}

.image-content {
  font-size: 20px;
  padding-right: 70px;
}

.submit-btn {
  cursor: pointer;
  outline: none;
  font-size: 30px;
  border: 5px #7c7889 solid;
  border-radius: 40px;
  background-color: transparent;
  padding: 0 5rem;
  margin: 20px 0 0 0;
}

.submit-btn:hover {
  background-color: #00aaff;
}

/* ユーザー詳細ページ */
.user-show {
  padding: 35px;
}

table {
  width: 70%;
  margin: 0 auto;
  border-collapse: collapse;
  word-break: break-all;
}

.user-motions {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.profile-title {
  background-color: #00aaff;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 30px;
  font-weight: bolder;
}

table tr {
  border-bottom: solid 2px white;
}

table tr:last-child{
  border-bottom: none;
}

table th {
  position: relative;
  width: 30%;
  background-color: #52c2d0;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 30px;
}

table th:after {
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top:calc(50% - 10px);
  right:-10px;
  border-left: 10px solid #52c2d0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.introduce {
  width: 30%;
  background-color: #52c2d0;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
  font-size: 30px;
}

.introduce-content {
  padding: 20px 50px;
}

table td {
  text-align: left;
  width: 40%;
  text-align: center;
  background-color: #eee;
  padding: 10px 0;
  font-size: 20px;
}

.create-motion {
  text-align: center;
  font-size: 30px;
}

.motion-title {
  background-color: #00aaff;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 25px;
  font-weight: bolder;
}

.user-cal {
  display: inline-block;
  height: 30px;
  width: 30%;
  margin: 0 auto;
}

.profile-button a {
  text-align: center;
  width: 40%;
  color: #1b2024;
  margin: 10px auto 50px;
  padding: 10px 20px;
  border: blueviolet 3px solid;
  border-radius: 30px;
}

/* トレーニング入力ページ */

.motion-form {
  height: calc(100vh - 150px);
}

.motion-table {
  text-align: center;
  padding: 20px;
  margin: 100px auto;
  border-radius: 12px;
}

.hidden {
  display: none;
}

.form-number {
  height: 30px;
  width: 60%;
  font-size: 18px;
  text-align: center;
  outline: none;
}

.cal {
  display: inline-block;
  background-color: #ffffff;
  border: #1b2024 1px solid;
  border-radius: 5px;
  height: 30px;
  width: 55%;
  margin: 0 auto;
}

/* トレーニング詳細ページ */
.edit-buttons {
  margin: 10px auto 50px;
  width: 70%;
  display: flex;
  justify-content: space-around;
}

.edit-button a {
  color: #1b2024;
  padding: 10px 100px;
  border: blueviolet 3px solid;
  border-radius: 30px;
}

/* ツイート詳細ページ */
.show-content {
  height: 100vh;
  margin-top: 100px;
}